# Firebase Yapılandırması
VITE_FIREBASE_API_KEY=AIzaSyBuszh6bQP0Y3dYjxK-k8tnZ8pLePGscVg
VITE_FIREBASE_AUTH_DOMAIN=citvapp.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=citvapp
VITE_FIREBASE_STORAGE_BUCKET=citvapp.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=1234567890
VITE_FIREBASE_APP_ID=1:1234567890:web:abcdef1234567890
